@mixin apercu { font-family:"Apercu Medium", Calibri, sans-serif; font-size-adjust:0.508; font-weight:600; font-style:normal; }

@mixin apercu-mono { font-family:"Apercu Mono Regular", 'Andale Mono', monospace; font-size-adjust:0.5; font-weight:normal; font-style:normal; }
