@import 'compass/css3';

$max-columns: 12;
$gutter: 20px;

@import 'whippy';

$white: #fff;
$green: #58CB8C;
$teal: #26b0ad;
$pink: #E65398;
$grey: #eee;

body {
  margin: 0;
  background: $green;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  
}

#wrapper {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background: $white;
  padding: 20px 40px;
  @include border-radius(5px);
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  height: 100%;
  z-index: 10;
  .overlay-wrapper {
    @include grid;
    height: 100%;
  }
  .overlay-cell {
    @include col(1,12);
    height: 100%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: $gutter/2;
      right: $gutter/2;
      height: 100%;
      background: rgba(0,0,0,0.1);
    }
  }
}


#intro {
  @include grid;
  
  .intro-one {
    @include col(1,2);
  }
  
  .intro-two {
    @include col(1,2);
  }
}
