@import 'compass/css3';

$base: 20;

$max-columns: 12;
$gutter: 24px;


$white: #fff;
$black: #333;
$green: #00EB97;
$blue: #00BAFF;
$red: #FF0000;
$grey: #eee;
$orange: #FFA600;

@import 'utils';
@import 'fonts';
@import 'base';
@import 'whippy';

body.moving {
  cursor: ew-resize;
  #handle {
    background: $black;
  }
}

#wrapper {
  width: 90%;
  max-width: 800px;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  margin: 0 auto;
  @include border-radius(5px);
  position: relative;
  padding-top: 4em;
  padding-bottom: 10em;
}

#handle-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  border-right: $black 4px solid;
}

#handle {
  position: absolute;
  top: 100px;
  left: -9px;
  width: 21px;
  height: 21px;
  background: $green;
  border: $black 4px solid;
  @include border-radius(50%);
  z-index: 10;
  &:hover {
    cursor: ew-resize;
  }
}

#overlay {
  pointer-events: none;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 5em;
  z-index: -1;
  .overlay-wrapper {
    @include whip;
    height: 100%;
  }
  .overlay-cell {
    @include col(1,6);
    height: 100%;
    position: relative;
    &:before {
      content: '';
      @include opacity(0.3);
      display: block;
      height: 100%;
      border: $orange 1px solid;
    }
  }
}

#intro {
  @include whip;
  .header {
    @include col(8);
    text-align: center;
    padding-top: 1em;
  }
  .header-title {
    color: $green;
    @include font-size(80);
    margin: 0;
  }
  .header-subtitle {
    color: $black;
  }
  .usage {
    @include col(6);
    margin-top: 2em;
  }
  .usage-wrapper {
    border: $black 4px solid;
    padding: 20px;
  }
  .cool-cone {
    @include col(4);
    float: right;
    margin-top: -2em;
    img {
      width: 100%;
    }
  }
  
  .about {
    @include col(8);
    @include font-size(36);
    padding-top: 1em;
    padding-bottom: 1em;
    clear: left;

    line-height: 1.3;
    color: $blue;
  }
  
  .yeah-cone {
    @include col(4);
    clear: left;
    img {
      width: 100%;
    }
  }
  
  .how-it-works {
    @include col(8);
  }
  
  .keep-in-mind {
    @include col(8);
    padding-top: 2em;
    clear: left;
  }
  
}



